.logo1{
    margin-top: -32px;
}
.logo1 img{
    width: 200px;
 
}
h3{
    font-size: 13.8px;
    margin-left: 10px;
    font-weight: 600;
}


/* Home.css */
.home-page {
  position: relative;
  min-height: 100vh; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 15%; 
  text-align: center; 
}

.footer p {
  color: white;
  font-size: 14px;
  padding: 10px 50px;
  margin: 0; 
}
